<h1>Merchants</h1>
<hr />

<table>
  <tr>
    <th>Merchant</th>
    <th>Number of Transactions</th>
    <th>% of Transactions</th>
    <th>Spent</th>
    <th>% of Total Spent</th>
  </tr>
  <% for merchant in @merchants %>
  <tr>
    <td><%= merchant.name %></td>
    <td><%= merchant.transactions.count.to_i %></td>
    <td><%= (( merchant.transaction_count / Transaction.count).to_f * 100).round(2) %>%</td>
    <td>£<%= Transaction.merchant_total_spent(merchant.id) %></td>
    <td><%= (( Transaction.merchant_total_spent(merchant.id) / Transaction.total_spent) * 100).round(2) %>%</td>
  </tr>
  <% end %>
</table>

