<h1>Tags</h1>
<hr />

<table>
  <tr>
    <th>Tag</th>
    <th>Number of Transactions</th>
    <th>% of Transactions</th>
    <th>Spent</th>
    <th>% of Total Spent</th>
  </tr>
  <% for tag in @tags %>
  <tr>
    <td><%= tag.name %></td>
    <td><%= tag.transaction_count.to_i %></td>
    <td><%= (( tag.transaction_count / Transaction.count).to_f * 100).round(2) %>%</td>
    <td>£<%= Transaction.tag_total_spent(tag.id) %></td>
    <td><%= (( Transaction.tag_total_spent(tag.id) / Transaction.total_spent) * 100).round(2) %>%</td>
  </tr>
  <% end %>
</table>
